<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Kompetanse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kompetanse</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Arbeidserfaring</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>IDENTEC SOLUTIONS</strong> (Data Scientist) Apr 2024 ‑ Nov 2024</p>
      <ul>
        <li>Samarbeide med produktsjefen for å designe og foreslå casestudier, samt identifisere relevante datakilder.</li>
        <li>Hente ut og behandle data fra SQL‑databaser, utføre deskriptiv analyse for å avlede handlingsrettede innsikter.</li>
        <li>Utføre databehandling for å gjøre datasett egnet for maskinlæringsmodellering og analyse.</li>
        <li>Benyttet prosesserte data for å trene modeller som forutsier strømforbruk for en av IDENTECs løsninger innen marine og havner.</li>
      </ul>
      <p><strong>IDENTEC SOLUTIONS</strong> (Programvareingeniør) Aug 2023 ‑ Nov 2024</p>
      <ul>
        <li>Designe og vedlikeholde en plattformuavhengig mobilversjon av IDENTECs smart‑fabrikk løsning ved bruk av webteknologier.</li>
        <li>Implementere programvare av høy kvalitet ved å følge beste kodingspraksiser og etablerte designmønstre.</li>
        <li>Utvikle automatiserte bygge‑pipelines for kontinuerlig integrasjon og distribusjon, og sikre effektiv produktlevering.</li>
        <li>Opprette enhetstester og ende‑til‑ende‑tester for å verifisere programvarefunksjonalitet og ytelse.</li>
        <li>Jobbe tett med produktsjefer og designere for å prioritere og definere nye funksjoner i tråd med kundens behov og mål.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Utdanning</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>OsloMet – Storbyuniversitetet</strong> (Master i Data Science) 2023 ‑ Nåværende</p>
      <ul>
        <li>Fag: Computational Intelligence, Statistical Learning, Data Mining at Scale, Internet of Things, Tverrfaglig innovasjon og komplekse problemer</li>
      </ul>
      <p><strong>Noroff Universitet</strong> (Bachelor i Anvendt Data Science) 2020 ‑ 2023</p>
      <ul>
        <li>Bacheloroppgave: Bokanbefalingssystem.</li>
        <li>Fag: Operativsystemer, Objektorientert programmering, Problembasert læring og forskningsmetodikk, Algoritmer og datastrukturer, Statistiske analyserverktøy og teknikker, Profesjonell programvareutvikling, NoSQL databaser, Maskinlæring, Datavisualisering, Big Data‑analyse, Diskret matematikk, Videregående diskret matematikk.</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
